*.pyc
.DS_Store
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pt
/runs/
/data/openproteinset/*
/data/hidden_processed_features/
/data/hidden_processed_labels/
/data/metadata_sources/
/data/manifests/hidden_val.txt
*.npz
data/processed/1p11_I.error.txt
data/processed_features/1iz9_B.error.txt
data/processed_features/2ntw_A.error.txt
data/processed_features/3ai6_F.error.txt
data/processed_features/3liy_K.error.txt
data/processed_features/4yd9_X.error.txt
data/processed_features/5b0w_G.error.txt
data/processed_features/5cn6_A.error.txt
data/processed_features/5emf_B.error.txt
data/processed_features/5emg_A.error.txt
data/processed_features/6ann_C.error.txt
data/processed_features/6su0_A.error.txt
